/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0; }

.hljs,
.hljs-subst {
  color: #444; }

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold; }

.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #1F811F; }

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060; }

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000; }

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold; }

.hljs-comment {
  color: #888888; }

.hljs-meta {
  color: #2B6EA1; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.font--headline {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; }

html, body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 12px; } }

* {
  box-sizing: border-box; }

#router-content {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0; }

@media screen and (min-width: 769px) {
  .mobile-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none !important; } }

input[type="text"] {
  width: 100%;
  color: #4A4A4A;
  font-size: 1.25rem;
  font-weight: 100;
  outline: none;
  border: none;
  border-bottom: 1px solid #4A4A4A;
  padding: 0.5rem 0; }

.btn-minimal {
  display: block;
  position: relative;
  margin: 0 0.75rem;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media screen and (max-width: 768px) {
    .btn-minimal {
      margin: 0 0.35rem; } }
  .btn-minimal:after, .btn-minimal:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    bottom: -10%;
    transform: scale(0.01);
    transition: transform 0.3s ease-out 0s;
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; }
  .btn-minimal:before {
    right: 50%;
    width: 50%;
    transform-origin: right center; }
  .btn-minimal:after {
    left: 50%;
    width: 50%;
    transform-origin: left center; }
  .btn-minimal:hover:after, .btn-minimal:hover:before, .btn-minimal.btn-minimal--active:before, .btn-minimal.btn-minimal--active:after {
    transform: scale(1); }
  .btn-minimal .btn-minimal__text {
    display: inline-block;
    margin: 0; }
  .btn-minimal .btn-minimal__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: white;
    padding: 0.25rem 0; }

.btn-box {
  cursor: pointer;
  color: white;
  background: #173B46;
  outline: none;
  border: 1px solid #173B46;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1.25rem; }
  .btn-box.btn-box--invert {
    color: #173B46;
    background: white;
    border: 1px solid #4A4A4A; }
  .btn-box.btn-box--cancel {
    color: #646464;
    background: white;
    border: 1px solid #9e9e9e; }

.css-js--fade-in.css-js--anim-enter {
  opacity: 0.01; }

.css-js--fade-in.css-js--anim-enter.css-js--anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out 500ms; }

.css-js--fade-in.css-js--anim-leave {
  opacity: 1; }

.css-js--fade-in.css-js--anim-leave.css-js--anim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out 0ms; }

.css-js--fly-up.css-js--anim-enter {
  transform: translateY(100%); }

.css-js--fly-up.css-js--anim-enter.css-js--anim-enter-active {
  transform: translateY(0px);
  transition: transform 600ms ease-out 400ms; }

.css-js--fly-up.css-js--anim-leave {
  transform: translateY(0px); }

.css-js--fly-up.css-js--anim-leave.css-js--anim-leave-active {
  transform: translateY(100%);
  transition: transform 500ms ease-out 0ms; }

.example-component {
  border: 1px solid gray;
  padding: 1rem 0.5rem;
  border-radius: 3px;
  margin: 1rem 0;
  background: #EBEBEB;
  box-shadow: 0 0 4px rgba(128, 128, 128, 0.4); }

.carousel-dots {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2rem; }
  .carousel-dots,
  .carousel-dots .carousel-dots__contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.carousel-dots__contain {
  position: relative; }

.carousel-dots__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 8px 0;
  background: rgba(216, 216, 216, 0.75);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); }

.carousel-dots__dot--selector {
  position: absolute;
  background: #FAE92C;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; }

.carousel-dots[data-index="0"] .carousel-dots__dot--selector {
  transform: translateY(0px); }

.carousel-dots[data-index="1"] .carousel-dots__dot--selector {
  transform: translateY(26px); }

.carousel-dots[data-index="2"] .carousel-dots__dot--selector {
  transform: translateY(52px); }

.carousel-dots[data-index="3"] .carousel-dots__dot--selector {
  transform: translateY(78px); }

.carousel-dots[data-index="4"] .carousel-dots__dot--selector {
  transform: translateY(104px); }

.carousel-dots[data-index="5"] .carousel-dots__dot--selector {
  transform: translateY(130px); }

.carousel-dots[data-index="6"] .carousel-dots__dot--selector {
  transform: translateY(156px); }

.carousel-dots[data-index="7"] .carousel-dots__dot--selector {
  transform: translateY(182px); }

.carousel-dots[data-index="8"] .carousel-dots__dot--selector {
  transform: translateY(208px); }

.carousel-dots[data-index="9"] .carousel-dots__dot--selector {
  transform: translateY(234px); }

.carousel-dots[data-index="10"] .carousel-dots__dot--selector {
  transform: translateY(260px); }

.filter-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5% 10%; }

.filter-page__title {
  font-weight: bold;
  font-size: 2rem; }

.filter-tags__tag-bucket {
  margin: 5% 0; }

.filter-tag-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1.2rem;
  border-radius: 5px;
  margin: 0 0.25rem 0.25rem 0;
  border: 1px solid #C2C2C2;
  outline: none;
  color: #4A4A4A;
  background-color: #E7E7E7;
  box-shadow: 1px 1px 1px 1px rgba(226, 226, 226, 0.64);
  transition: color 0.3s ease-out 0s, background 0.3s ease-out 0s, box-shadow 0.3s ease-out 0s; }
  .filter-tag-btn.filter-tag-btn--active {
    color: white;
    background-color: #676767;
    box-shadow: 0px 0px 0px 0px rgba(226, 226, 226, 0); }

.feat-carousel {
  position: relative;
  overflow: hidden; }

.feat-carousel__translate {
  position: relative;
  width: 100%;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s cubic-bezier(0.33, 0.22, 0.03, 0.97) 0s; }

.feat-carousel__wide-contain {
  width: 99999px; }

.feat-carousel__slide {
  position: relative;
  width: 100%;
  float: left;
  min-height: 1px; }

.feat-carousel[data-length="0"] .feat-carousel__wide-contain {
  width: 0%; }

.feat-carousel[data-length="0"] .feat-carousel__slide {
  width: Infinity; }

.feat-carousel[data-carousel-index="0"] .feat-carousel__translate {
  transform: translateX(0%); }

.feat-carousel[data-length="1"] .feat-carousel__wide-contain {
  width: 100%; }

.feat-carousel[data-length="1"] .feat-carousel__slide {
  width: 100%; }

.feat-carousel[data-carousel-index="1"] .feat-carousel__translate {
  transform: translateX(-100%); }

.feat-carousel[data-length="2"] .feat-carousel__wide-contain {
  width: 200%; }

.feat-carousel[data-length="2"] .feat-carousel__slide {
  width: 50%; }

.feat-carousel[data-carousel-index="2"] .feat-carousel__translate {
  transform: translateX(-200%); }

.feat-carousel[data-length="3"] .feat-carousel__wide-contain {
  width: 300%; }

.feat-carousel[data-length="3"] .feat-carousel__slide {
  width: 33.33333%; }

.feat-carousel[data-carousel-index="3"] .feat-carousel__translate {
  transform: translateX(-300%); }

.feat-carousel[data-length="4"] .feat-carousel__wide-contain {
  width: 400%; }

.feat-carousel[data-length="4"] .feat-carousel__slide {
  width: 25%; }

.feat-carousel[data-carousel-index="4"] .feat-carousel__translate {
  transform: translateX(-400%); }

.feat-carousel[data-length="5"] .feat-carousel__wide-contain {
  width: 500%; }

.feat-carousel[data-length="5"] .feat-carousel__slide {
  width: 20%; }

.feat-carousel[data-carousel-index="5"] .feat-carousel__translate {
  transform: translateX(-500%); }

.feat-carousel--100p-height,
.feat-carousel--100p-height .feat-carousel__translate,
.feat-carousel--100p-height .feat-carousel__wide-contain,
.feat-carousel--100p-height .feat-carousel__slide {
  height: 100%; }


header {
  position: relative;
  height: 3rem;
  background: #173B46;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header__nav {
      right: 0.35rem; } }

.header__logo,
.header__logo > a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .header__logo,
    .header__logo > a {
      font-size: 3vw; } }

.header__back-btn {
  position: absolute;
  top: 0;
  left: 0.5rem;
  bottom: 0;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__back-btn.header__back-btn--hidden {
    display: none; }

.floating-menu {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px; }

.floating-menu__btn-circle {
  fill: white; }

.floating-menu__btn-hamburg {
  fill: #4A4A4A; }

.floating-menu__sub-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: -50%;
  padding: 0.5rem 0% 0.5rem 50%;
  pointer-events: none; }
  .floating-menu--toggle-open .floating-menu__sub-menu {
    pointer-events: auto; }
  .floating-menu__sub-menu > hr {
    width: 60%; }

.floating-menu__sub-menu > * {
  opacity: 0;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transform: translateY(5%);
  margin: 0.15rem; }
  .floating-menu--toggle-open .floating-menu__sub-menu > * {
    opacity: 1;
    transform: translateY(0%); }

.floating-menu__sub-menu > *:nth-child(1) {
  transition-delay: 0.05s, 0.055s; }

.floating-menu__sub-menu > *:nth-child(2) {
  transition-delay: 0.1s, 0.11s; }

.floating-menu__sub-menu > *:nth-child(3) {
  transition-delay: 0.15s, 0.165s; }

.floating-menu__sub-menu > *:nth-child(4) {
  transition-delay: 0.2s, 0.22s; }

.floating-menu__sub-menu > *:nth-child(5) {
  transition-delay: 0.25s, 0.275s; }

.floating-menu__sub-menu > *:nth-child(6) {
  transition-delay: 0.3s, 0.33s; }

.floating-menu__sub-menu > *:nth-child(7) {
  transition-delay: 0.35s, 0.385s; }

.floating-menu__sub-menu > *:nth-child(8) {
  transition-delay: 0.4s, 0.44s; }

.floating-menu__sub-menu > *:nth-child(9) {
  transition-delay: 0.45s, 0.495s; }

.floating-menu__sub-menu > *:nth-child(10) {
  transition-delay: 0.5s, 0.55s; }

.img-list-vert {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.img-list-vert__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; }

.img-list-vert__item:nth-child(1) {
  top: 0%; }

.img-list-vert__item:nth-child(2) {
  top: 100%; }

.img-list-vert__item:nth-child(3) {
  top: 200%; }

.img-list-vert__item:nth-child(4) {
  top: 300%; }

.img-list-vert__item:nth-child(5) {
  top: 400%; }

.img-list-vert__item:nth-child(6) {
  top: 500%; }

.img-list-vert__item:nth-child(7) {
  top: 600%; }

.img-list-vert__item:nth-child(8) {
  top: 700%; }

.img-list-vert__item:nth-child(9) {
  top: 800%; }

.img-list-vert__item:nth-child(10) {
  top: 900%; }

.img-list-vert__translate-y {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; }

.img-single-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.img-single-full__img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease 0s;
  transition: transform 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s; }

.module-article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

.module-article__content {
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto; }

.module-dev-notes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

.module-dev-notes__content {
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto; }

.post-grid {
  max-width: 1250px;
  margin: 0.5rem auto;
  overflow: auto;
  height: 100%; }

.post-grid__item {
  display: inline-block;
  width: 100%; }

@media screen and (min-width: 650px) {
  .post-grid__item {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  .post-grid__item {
    width: 33.33333%; } }

.module-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.module-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.module-video__vid {
  max-width: 100%;
  max-height: 100%; }

.module-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.module-link__card {
  width: 80%;
  height: 80%;
  background: rgba(128, 128, 128, 0.35);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.module-link__anchor {
  color: inherit; }

.module-link__icon {
  width: 8rem;
  height: 8rem;
  max-width: 80%;
  max-width: 80%;
  margin: 0 auto; }

.module-link__text {
  max-width: 80%;
  margin: 1rem auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.search-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5% 10%; }

input.search-page__input {
  font-size: 2rem;
  margin-bottom: 5%; }

.spark-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: 0.5rem;
  background-size: cover;
  background-position: center center;
  height: 250px;
  color: white;
  background-color: #232323; }

.spark-card a {
  text-decoration: none;
  color: inherit; }

.spark-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 1rem; }

.spark-card__shadows:before, .spark-card__shadows:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.spark-card__shadows:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.7) 90%); }

.spark-card__shadows:after {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.4s ease 0s; }

.spark-card--toggled .spark-card__shadows:after {
  opacity: 1; }

.spark-card__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0.5rem 0; }

.spark-card__tags {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  font-weight: 100; }
  .spark-card__tags span {
    margin-right: 0.75rem;
    letter-spacing: 0.5px; }

.spark-card__dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.spark-card__dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 0.25rem;
  background: rgba(255, 255, 255, 0);
  transition: background 0.4s ease 0s; }

.spark-card__dot:first-child {
  background: rgba(255, 255, 255, 0.5); }

.spark-card--toggled .spark-card__dot:first-child {
  background: rgba(255, 255, 255, 0); }

.spark-card--toggled .spark-card__dot:last-child {
  background: rgba(255, 255, 255, 0.5); }

.spark-card__detail {
  position: absolute;
  top: 5rem;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(2%);
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s; }
  .spark-card--toggled .spark-card__detail {
    opacity: 1;
    transform: translateX(0%); }

.spark-card__summary,
.spark-card__menu-btns {
  margin: 0.5rem;
  text-align: center; }

.spark-card__menu-btns > * {
  margin: 0 0.5rem;
  pointer-events: auto; }

.spark-card__bottom-info {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  opacity: 1;
  transition: opacity 0.4s ease-out 0s; }
  .spark-card--toggled .spark-card__bottom-info {
    opacity: 0; }

.spark-card__author,
.spark-card__date {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem; }

.spark-card__author {
  left: 0; }

.spark-card__date {
  right: 0; }

.spark-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.spark-details__tabs {
  height: 2rem; }

.spark-details__carousel {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0; }

.tab-bar {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #979797;
  box-shadow: 0px 5px 6px rgba(128, 128, 128, 0.28);
  position: relative;
  z-index: 100; }

.tab-bar__contain {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.tab-bar__flex-btns {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  height: 100%; }

.tab-bar__btn {
  cursor: pointer;
  flex: 1 1 auto;
  height: 100%;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none !important;
  outline: none !important;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.4s ease 0s; }

.tab-bar__selector {
  position: relative;
  margin-top: -0.25rem;
  height: 0.25rem;
  background-color: #444;
  transition: transform 0.4s ease 0s;
  transform: translateX(0%); }

.tab-bar[data-length="0"] .tab-bar__contain {
  max-width: 0rem; }
  .tab-bar[data-length="0"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="0"] .tab-bar__contain .tab-bar__selector {
    width: Infinity; }

.tab-bar[data-tab-state="0"] .tab-bar__btn[data-tab-index="0"] {
  color: black; }

.tab-bar[data-tab-state="0"] .tab-bar__selector {
  transform: translateX(0%); }

.tab-bar[data-length="1"] .tab-bar__contain {
  max-width: 7rem; }
  .tab-bar[data-length="1"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="1"] .tab-bar__contain .tab-bar__selector {
    width: 100%; }

.tab-bar[data-tab-state="1"] .tab-bar__btn[data-tab-index="1"] {
  color: black; }

.tab-bar[data-tab-state="1"] .tab-bar__selector {
  transform: translateX(100%); }

.tab-bar[data-length="2"] .tab-bar__contain {
  max-width: 14rem; }
  .tab-bar[data-length="2"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="2"] .tab-bar__contain .tab-bar__selector {
    width: 50%; }

.tab-bar[data-tab-state="2"] .tab-bar__btn[data-tab-index="2"] {
  color: black; }

.tab-bar[data-tab-state="2"] .tab-bar__selector {
  transform: translateX(200%); }

.tab-bar[data-length="3"] .tab-bar__contain {
  max-width: 21rem; }
  .tab-bar[data-length="3"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="3"] .tab-bar__contain .tab-bar__selector {
    width: 33.33333%; }

.tab-bar[data-tab-state="3"] .tab-bar__btn[data-tab-index="3"] {
  color: black; }

.tab-bar[data-tab-state="3"] .tab-bar__selector {
  transform: translateX(300%); }

.tab-bar[data-length="4"] .tab-bar__contain {
  max-width: 28rem; }
  .tab-bar[data-length="4"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="4"] .tab-bar__contain .tab-bar__selector {
    width: 25%; }

.tab-bar[data-tab-state="4"] .tab-bar__btn[data-tab-index="4"] {
  color: black; }

.tab-bar[data-tab-state="4"] .tab-bar__selector {
  transform: translateX(400%); }

.tab-bar[data-length="5"] .tab-bar__contain {
  max-width: 35rem; }
  .tab-bar[data-length="5"] .tab-bar__contain .tab-bar__btn,
  .tab-bar[data-length="5"] .tab-bar__contain .tab-bar__selector {
    width: 20%; }

.tab-bar[data-tab-state="5"] .tab-bar__btn[data-tab-index="5"] {
  color: black; }

.tab-bar[data-tab-state="5"] .tab-bar__selector {
  transform: translateX(500%); }

.test-module {
  border: 5px solid gray;
  height: 100%; }

.btn-chip {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }

.btn-chip--med {
  width: 40px;
  height: 40px; }

.btn-chip--white-out .btn-chip__circle {
  fill: transparent; }

.btn-chip--white-out .btn-chip__icon {
  fill: #fff; }

/*# sourceMappingURL=styles.css.map */
