@import "../../scss/_colors.scss";
@import "../../scss/_sizes.scss";

header {
  position: relative;
  height: 3rem;

  background: $color-primary;
  color: white;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobile-only__max-width) {
    right: 0.35rem;
  }
}

.header__logo,
.header__logo > a {
    color: white;  
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-only__max-width) {
      font-size: 3vw;
    }
}

.header__back-btn {
  position: absolute;
  top: 0;
  left: 0.5rem;
  bottom: 0;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &.header__back-btn--hidden {
    display: none;
  }
}