@import "../../scss/_colors.scss";

header {
  position: relative;
  background: $color-primary;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
}

.header__logo,
.header__logo > a {
    color: white;  
    text-decoration: none;
}