@import "_colors.scss";
@import "_sizes.scss";

html, body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;

  @media screen and (max-width: $mobile-only__max-width) {
    font-size: 13px;
  }

}

* {
  box-sizing: border-box;
}

#router-content {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-only {
  @media screen and (min-width: ($mobile-only__max-width + 1)) {
    display: none !important;
  }
}

.desktop-only {
  @media screen and (max-width: ($desktop-only__min-width - 1)) {
    display: none !important;
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
  color: $color-gray-main;
  font-size: 1.25rem;
  font-weight: 100;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-gray-main;
  padding: 0.5rem 0;
}

input.input--error {
  background-color: lighten($color-alert, 30%);
  transition: background 0.4s ease-out 0s;
}