html, body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#router-content {
  // position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}