.img-list-vert {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  

  overflow: auto;
}

.img-list-vert__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  
}

@for $i from 1 through 10 {
  .img-list-vert__item:nth-child(#{$i}) {
    top: 100% * ($i - 1); 
  }
}